# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.bin
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.lst

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Backup files
*~
*.bak

# Logs
*.log

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Build directories
/build/
/out/
/dist/

# FreeRTOS specific
*.launch

# Documentation directories
/docs/

